* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90%;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
}

a {
  color: white;
  background-color: cornflowerblue;
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
}